@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

.Topic-image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 175px;
  overflow: hidden;
}

.Topic-text {
  font-family: 'Poppins';
}

.Topic-content{
  font-family: 'Poppins';
  font-size: 15px;
  color: #525151;
  text-align: center;
  margin-bottom: 2px;
}

.favorite-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 每行三個地點 */
  gap: 20px;
  margin-top: 20px;
}

.favorite-item {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.favorite-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.favorite-content {
  padding: 10px;
}

.favorite-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.favorite-date {
  font-size: 14px;
  color: #888;
}

.delete-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(128, 17, 0);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.delete-button:hover {
  background-color: rgb(219, 34, 6);
}

@media (max-width: 1024px) {
  .delete-button {
    position: static;
    display: block;
    margin: 10px auto;
  }
}

@media (max-width: 768px) {
  .favorite-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
  
@media (max-width: 480px) {
  .favorite-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}