.favorite-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 每行三個地點 */
  gap: 20px;
  margin-top: 20px;
}

.favorite-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.favorite-item img {
  border-radius: 8px;
}
