.profile-container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin-left: 100px;
  padding: 70px;
  padding-top: 10px;
  gap: 30px;
  font-family: Arial, sans-serif;
  position: relative;
}

.profile-left {
  flex: 3;
  text-align: left;
}

.profile-left h1 {
  font-size: 35px;
  color: #ff7300;
  margin-bottom: 15px;
  margin-top: 35px;
}

.profile-left h2 {
  font-size: 25px;
  color: black;
  margin-top: 23px;
  margin-bottom: 0px;
}

.profile-left p {
  margin: 5px;
  font-size: 20px;
  color: black;
}

.profile-left .id-text {
  color: #4c4c4c; 
}

.profile-left form {
  width: 100%; 
  text-align: left; 
  margin-left: 0px;
  padding-top: 2px;
}

.profile-left label {
  display: block;
  font-weight: bold;
}

.profile-left input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.profile-left button {
  background-color: #ff7300;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
}

.profile-left button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.profile-left button:hover:not(:disabled) {
  background-color: #e66400;
}

.profile-right {
  flex: 1;
  text-align: center;
  padding-left: 150px;
  padding-right: 70px;
}

.avatar-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 90px;
  margin-bottom: 10px;
  margin-left: 35px;
  object-fit: cover;
}

.profile-right h2 {
  color: #000000;
  font-size: 25px;
  margin-top: 0px;
  margin-left: 35px;
}

.profile-right input[type="file"] {
  margin-bottom: 10px;
}

.profile-right form {
  width: 100%; 
  text-align: center; 
  margin-left: 0px;
  padding-top: 2px;
}

.profile-right button {
  background-color: #ff7300;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-right button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.profile-right button:hover:not(:disabled) {
  background-color: #e66400;
}

.message {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 21px;
  font-weight: bold;
}

.message.success {
  color: #4CAF50;
}

.message.error {
  color: #f44336;
}
