.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-details {
  margin-bottom: 20px;
}

.password-change {
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 5px 0;
}

form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message.success {
  color: green;
}

.message.error {
  color: red;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.avatar-img {
  width: 50px; /* You can adjust the size as needed */
  height: 50px; /* Keep the width and height the same for a perfect circle */
  border-radius: 50%; /* This makes it a circle */
  object-fit: cover; /* Ensures the image fills the circle without distortion */
}

